img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

html {
    font-size: 93.75%;
}

a, .page-title {
    color: #c8102e;
}

    a:hover, a:focus {
        color: #a8031e;
    }

body, button, input, select, textarea, .ast-button, .ast-custom-button {
    font-family: 'Exo',sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-size: 1rem;
}

blockquote {
    color: var(--ast-global-color-3);
}

h1, .entry-content h1, h2, .entry-content h2, h3, .entry-content h3, h4, .entry-content h4, h5, .entry-content h5, h6, .entry-content h6, .site-title, .site-title a {
    font-family: 'Exo',sans-serif;
    font-weight: 400;
}

.site-title {
    font-size: 35px;
    font-size: 2.3333333333333rem;
    display: none;
}

.ast-archive-description .ast-archive-title {
    font-size: 40px;
    font-size: 2.6666666666667rem;
}

.site-header .site-description {
    font-size: 15px;
    font-size: 1rem;
    display: none;
}

.entry-title {
    font-size: 30px;
    font-size: 2rem;
}

h1, .entry-content h1 {
    font-size: 40px;
    font-size: 2.6666666666667rem;
    font-family: 'Exo',sans-serif;
}

h2, .entry-content h2 {
    font-size: 30px;
    font-size: 2rem;
    font-family: 'Exo',sans-serif;
}

h3, .entry-content h3 {
    font-size: 25px;
    font-size: 1.6666666666667rem;
    font-family: 'Exo',sans-serif;
}

h4, .entry-content h4 {
    font-size: 20px;
    font-size: 1.3333333333333rem;
    font-family: 'Exo',sans-serif;
}

h5, .entry-content h5 {
    font-size: 18px;
    font-size: 1.2rem;
    font-family: 'Exo',sans-serif;
}

h6, .entry-content h6 {
    font-size: 15px;
    font-size: 1rem;
    font-family: 'Exo',sans-serif;
}

.ast-single-post .entry-title, .page-title {
    font-size: 30px;
    font-size: 2rem;
}

::selection {
    background-color: #c8102e;
    color: #ffffff;
}

body, h1, .entry-title a, .entry-content h1, h2, .entry-content h2, h3, .entry-content h3, h4, .entry-content h4, h5, .entry-content h5, h6, .entry-content h6 {
    color: var(--ast-global-color-3);
}

.tagcloud a:hover, .tagcloud a:focus, .tagcloud a.current-item {
    color: #ffffff;
    border-color: #c8102e;
    background-color: #c8102e;
}

input:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="reset"]:focus, input[type="search"]:focus, textarea:focus {
    border-color: #c8102e;
}

input[type="radio"]:checked, input[type=reset], input[type="checkbox"]:checked, input[type="checkbox"]:hover:checked, input[type="checkbox"]:focus:checked, input[type=range]::-webkit-slider-thumb {
    border-color: #c8102e;
    background-color: #c8102e;
    box-shadow: none;
}

.site-footer a:hover + .post-count, .site-footer a:focus + .post-count {
    background: #c8102e;
    border-color: #c8102e;
}

.single .nav-links .nav-previous, .single .nav-links .nav-next {
    color: #c8102e;
}

.entry-meta, .entry-meta * {
    line-height: 1.45;
    color: #c8102e;
}

    .entry-meta a:hover, .entry-meta a:hover *, .entry-meta a:focus, .entry-meta a:focus *, .page-links > .page-link, .page-links .page-link:hover, .post-navigation a:hover {
        color: #a8031e;
    }

#cat option, .secondary .calendar_wrap thead a, .secondary .calendar_wrap thead a:visited {
    color: #c8102e;
}

.secondary .calendar_wrap #today, .ast-progress-val span {
    background: #c8102e;
}

.secondary a:hover + .post-count, .secondary a:focus + .post-count {
    background: #c8102e;
    border-color: #c8102e;
}

.calendar_wrap #today > a {
    color: #ffffff;
}

.page-links .page-link, .single .post-navigation a {
    color: #c8102e;
}

.widget-title {
    font-size: 21px;
    font-size: 1.4rem;
    color: var(--ast-global-color-3);
}

.single .ast-author-details .author-title {
    color: #a8031e;
}

.main-header-menu .menu-link, .ast-header-custom-item a {
    color: var(--ast-global-color-3);
}

.main-header-menu .menu-item:hover > .menu-link, .main-header-menu .menu-item:hover > .ast-menu-toggle, .main-header-menu .ast-masthead-custom-menu-items a:hover, .main-header-menu .menu-item.focus > .menu-link, .main-header-menu .menu-item.focus > .ast-menu-toggle, .main-header-menu .current-menu-item > .menu-link, .main-header-menu .current-menu-ancestor > .menu-link, .main-header-menu .current-menu-item > .ast-menu-toggle, .main-header-menu .current-menu-ancestor > .ast-menu-toggle {
    color: #c8102e;
}

.header-main-layout-3 .ast-main-header-bar-alignment {
    margin-right: auto;
}

.header-main-layout-2 .site-header-section-left .ast-site-identity {
    text-align: left;
}

.ast-logo-title-inline .site-logo-img {
    padding-right: 1em;
}

.site-logo-img img {
    transition: all 0.2s linear;
}

.ast-header-break-point .ast-mobile-menu-buttons-minimal.menu-toggle {
    background: transparent;
    color: #c8102e;
}

.ast-header-break-point .ast-mobile-menu-buttons-outline.menu-toggle {
    background: transparent;
    border: 1px solid #c8102e;
    color: #c8102e;
}

.ast-header-break-point .ast-mobile-menu-buttons-fill.menu-toggle {
    background: #c8102e;
}

.ast-page-builder-template .hentry {
    margin: 0;
}

.ast-page-builder-template .site-content > .ast-container {
    max-width: 100%;
    padding: 0;
}

.ast-page-builder-template .site-content #primary {
    padding: 0;
    margin: 0;
}

.ast-page-builder-template .no-results {
    text-align: center;
    margin: 4em auto;
}

.ast-page-builder-template .ast-pagination {
    padding: 2em;
}

.ast-page-builder-template .entry-header.ast-no-title.ast-no-thumbnail {
    margin-top: 0;
}

.ast-page-builder-template .entry-header.ast-header-without-markup {
    margin-top: 0;
    margin-bottom: 0;
}

.ast-page-builder-template .entry-header.ast-no-title.ast-no-meta {
    margin-bottom: 0;
}

.ast-page-builder-template.single .post-navigation {
    padding-bottom: 2em;
}

.ast-page-builder-template.single-post .site-content > .ast-container {
    max-width: 100%;
}

.ast-page-builder-template .entry-header {
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.ast-page-builder-template .ast-archive-description {
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.single.ast-page-builder-template .entry-header {
    padding-left: 20px;
    padding-right: 20px;
}

.ast-page-builder-template.ast-no-sidebar .entry-content .alignwide {
    margin-left: 0;
    margin-right: 0;
}

.footer-adv .footer-adv-overlay {
    border-top-style: solid;
    border-top-color: #7a7a7a;
}

.wp-block-buttons.aligncenter {
    justify-content: center;
}

@media (min-width:1200px) {
    .wp-block-group .has-background {
        padding: 20px;
    }
}

@media (min-width:1200px) {
    .ast-no-sidebar.ast-separate-container .entry-content .wp-block-group.alignwide, .ast-no-sidebar.ast-separate-container .entry-content .wp-block-cover.alignwide {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .ast-no-sidebar.ast-separate-container .entry-content .wp-block-cover.alignfull, .ast-no-sidebar.ast-separate-container .entry-content .wp-block-group.alignfull {
        margin-left: -6.67em;
        margin-right: -6.67em;
        padding-left: 6.67em;
        padding-right: 6.67em;
    }
}

@media (min-width:1200px) {
    .wp-block-cover-image.alignwide .wp-block-cover__inner-container, .wp-block-cover.alignwide .wp-block-cover__inner-container, .wp-block-cover-image.alignfull .wp-block-cover__inner-container, .wp-block-cover.alignfull .wp-block-cover__inner-container {
        width: 100%;
    }
}

.ast-plain-container.ast-no-sidebar #primary {
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width:921px) {
    .ast-theme-transparent-header #primary, .ast-theme-transparent-header #secondary {
        padding: 0;
    }
}

.wp-block-columns {
    margin-bottom: unset;
}

.wp-block-image.size-full {
    margin: 2rem 0;
}

.wp-block-separator.has-background {
    padding: 0;
}

.wp-block-gallery {
    margin-bottom: 1.6em;
}

.wp-block-group {
    padding-top: 4em;
    padding-bottom: 4em;
}

.wp-block-group__inner-container .wp-block-columns:last-child, .wp-block-group__inner-container :last-child, .wp-block-table table {
    margin-bottom: 0;
}

.blocks-gallery-grid {
    width: 100%;
}

.wp-block-navigation-link__content {
    padding: 5px 0;
}

.wp-block-group .wp-block-group .has-text-align-center, .wp-block-group .wp-block-column .has-text-align-center {
    max-width: 100%;
}

.has-text-align-center {
    margin: 0 auto;
}

@media (min-width:1200px) {
    .wp-block-cover__inner-container, .alignwide .wp-block-group__inner-container, .alignfull .wp-block-group__inner-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .wp-block-group.alignnone, .wp-block-group.aligncenter, .wp-block-group.alignleft, .wp-block-group.alignright, .wp-block-group.alignwide, .wp-block-columns.alignwide {
        margin: 2rem 0 1rem 0;
    }
}

@media (max-width:1200px) {
    .wp-block-group {
        padding: 3em;
    }

        .wp-block-group .wp-block-group {
            padding: 1.5em;
        }

    .wp-block-columns, .wp-block-column {
        margin: 1rem 0;
    }
}

@media (min-width:921px) {
    .wp-block-columns .wp-block-group {
        padding: 2em;
    }
}

@media (max-width:544px) {
    .wp-block-cover-image .wp-block-cover__inner-container, .wp-block-cover .wp-block-cover__inner-container {
        width: unset;
    }

    .wp-block-cover, .wp-block-cover-image {
        padding: 2em 0;
    }

    .wp-block-group, .wp-block-cover {
        padding: 2em;
    }

    .wp-block-media-text__media img, .wp-block-media-text__media video {
        width: unset;
        max-width: 100%;
    }

    .wp-block-media-text.has-background .wp-block-media-text__content {
        padding: 1em;
    }
}

@media (max-width:921px) {
    .ast-plain-container.ast-no-sidebar #primary {
        padding: 0;
    }
}

@media (min-width:544px) {
    .entry-content .wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
        padding: 0 8% 0 0;
    }

    .entry-content .wp-block-media-text .wp-block-media-text__content {
        padding: 0 0 0 8%;
    }

    .ast-plain-container .site-content .entry-content .has-custom-content-position.is-position-bottom-left > *, .ast-plain-container .site-content .entry-content .has-custom-content-position.is-position-bottom-right > *, .ast-plain-container .site-content .entry-content .has-custom-content-position.is-position-top-left > *, .ast-plain-container .site-content .entry-content .has-custom-content-position.is-position-top-right > *, .ast-plain-container .site-content .entry-content .has-custom-content-position.is-position-center-right > *, .ast-plain-container .site-content .entry-content .has-custom-content-position.is-position-center-left > * {
        margin: 0;
    }
}

@media (max-width:544px) {
    .entry-content .wp-block-media-text .wp-block-media-text__content {
        padding: 8% 0;
    }

    .wp-block-media-text .wp-block-media-text__media img {
        width: auto;
        max-width: 100%;
    }
}

@media (max-width:921px) {
    .ast-separate-container .ast-article-post, .ast-separate-container .ast-article-single {
        padding: 1.5em 2.14em;
    }

    .ast-separate-container #primary, .ast-separate-container #secondary {
        padding: 1.5em 0;
    }

    #primary, #secondary {
        padding: 1.5em 0;
        margin: 0;
    }

    .ast-left-sidebar #content > .ast-container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .ast-author-box img.avatar {
        margin: 20px 0 0 0;
    }
}

@media (min-width:922px) {
    .ast-separate-container.ast-right-sidebar #primary, .ast-separate-container.ast-left-sidebar #primary {
        border: 0;
    }

    .search-no-results.ast-separate-container #primary {
        margin-bottom: 4em;
    }
}

.wp-block-button .wp-block-button__link {
    color: #ffffff;
}

    .wp-block-button .wp-block-button__link:hover, .wp-block-button .wp-block-button__link:focus {
        color: #ffffff;
        background-color: #a8031e;
        border-color: #a8031e;
    }

.wp-block-button .wp-block-button__link {
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-color: #c8102e;
    background-color: #c8102e;
    color: #ffffff;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1;
    border-radius: 2px;
}

.wp-block-buttons .wp-block-button .wp-block-button__link {
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
}

.menu-toggle, button, .ast-button, .ast-custom-button, .button, input#submit, input[type="button"], input[type="submit"], input[type="reset"] {
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    color: #ffffff;
    border-color: #c8102e;
    background-color: #c8102e;
    border-radius: 2px;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1;
}

    button:focus, .menu-toggle:hover, button:hover, .ast-button:hover, .ast-custom-button:hover .button:hover, .ast-custom-button:hover, input[type=reset]:hover, input[type=reset]:focus, input#submit:hover, input#submit:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
        color: #ffffff;
        background-color: #a8031e;
        border-color: #a8031e;
    }

@media (min-width:544px) {
    .ast-container {
        max-width: 100%;
    }
}

@media (max-width:544px) {
    .ast-separate-container .ast-article-post, .ast-separate-container .ast-article-single, .ast-separate-container .comments-title, .ast-separate-container .ast-archive-description {
        padding: 1.5em 1em;
    }

    .ast-separate-container #content .ast-container {
        padding-left: 0.54em;
        padding-right: 0.54em;
    }

    .ast-separate-container .ast-comment-list li.depth-1 {
        padding: 1.5em 1em;
        margin-bottom: 1.5em;
    }

    .ast-separate-container .ast-comment-list .bypostauthor {
        padding: .5em;
    }

    .ast-search-menu-icon.ast-dropdown-active .search-field {
        width: 170px;
    }

    .site-branding img, .site-header .site-logo-img .custom-logo-link img {
        max-width: 100%;
    }
}

@media (max-width:921px) {
    .ast-mobile-header-stack .main-header-bar .ast-search-menu-icon {
        display: inline-block;
    }

    .ast-header-break-point.ast-header-custom-item-outside .ast-mobile-header-stack .main-header-bar .ast-search-icon {
        margin: 0;
    }

    .ast-comment-avatar-wrap img {
        max-width: 2.5em;
    }

    .ast-separate-container .ast-comment-list li.depth-1 {
        padding: 1.5em 2.14em;
    }

    .ast-separate-container .comment-respond {
        padding: 2em 2.14em;
    }

    .ast-comment-meta {
        padding: 0 1.8888em 1.3333em;
    }
}

.main-header-bar .button-custom-menu-item .ast-custom-button-link .ast-custom-button, .ast-theme-transparent-header .main-header-bar .button-custom-menu-item .ast-custom-button-link .ast-custom-button {
    font-family: inherit;
    font-weight: inherit;
    line-height: 1;
}

.main-header-bar .button-custom-menu-item .ast-custom-button-link .ast-custom-button {
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
}

.ast-theme-transparent-header .main-header-bar .button-custom-menu-item .ast-custom-button-link .ast-custom-button {
    border-style: solid;
}

body, .ast-separate-container {
    background-color: #f2f2f2;
    ;
    background-image: none;
    ;
}

.ast-no-sidebar.ast-separate-container .entry-content .alignfull {
    margin-left: -6.67em;
    margin-right: -6.67em;
    width: auto;
}

@media (max-width: 1200px) {
    .ast-no-sidebar.ast-separate-container .entry-content .alignfull {
        margin-left: -2.4em;
        margin-right: -2.4em;
    }
}

@media (max-width: 768px) {
    .ast-no-sidebar.ast-separate-container .entry-content .alignfull {
        margin-left: -2.14em;
        margin-right: -2.14em;
    }
}

@media (max-width: 544px) {
    .ast-no-sidebar.ast-separate-container .entry-content .alignfull {
        margin-left: -1em;
        margin-right: -1em;
    }
}

.ast-no-sidebar.ast-separate-container .entry-content .alignwide {
    margin-left: -20px;
    margin-right: -20px;
}

.ast-no-sidebar.ast-separate-container .entry-content .wp-block-column .alignfull, .ast-no-sidebar.ast-separate-container .entry-content .wp-block-column .alignwide {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (max-width:921px) {
    .site-title {
        display: none;
    }

    .ast-archive-description .ast-archive-title {
        font-size: 40px;
    }

    .site-header .site-description {
        display: none;
    }

    .entry-title {
        font-size: 30px;
    }

    h1, .entry-content h1 {
        font-size: 30px;
    }

    h2, .entry-content h2 {
        font-size: 25px;
    }

    h3, .entry-content h3 {
        font-size: 20px;
    }

    .ast-single-post .entry-title, .page-title {
        font-size: 30px;
    }
}

@media (max-width:544px) {
    .site-title {
        display: none;
    }

    .ast-archive-description .ast-archive-title {
        font-size: 40px;
    }

    .site-header .site-description {
        display: none;
    }

    .entry-title {
        font-size: 30px;
    }

    h1, .entry-content h1 {
        font-size: 30px;
    }

    h2, .entry-content h2 {
        font-size: 25px;
    }

    h3, .entry-content h3 {
        font-size: 20px;
    }

    .ast-single-post .entry-title, .page-title {
        font-size: 30px;
    }
}

@media (max-width:921px) {
    html {
        font-size: 85.5%;
    }
}

@media (max-width:544px) {
    html {
        font-size: 85.5%;
    }
}

@media (min-width:922px) {
    .ast-container {
        max-width: 1240px;
    }
}

@font-face {
    font-family: "Astra";
    src: url(https://landsterling.com/wp-content/themes/astra/assets/fonts/astra.woff) format("woff"),url(https://landsterling.com/wp-content/themes/astra/assets/fonts/astra.ttf) format("truetype"),url(https://landsterling.com/wp-content/themes/astra/assets/fonts/astra.svg#astra) format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@media (max-width:921px) {
    .main-header-bar .main-header-bar-navigation {
        display: none;
    }
}

.ast-desktop .main-header-menu.submenu-with-border .sub-menu, .ast-desktop .main-header-menu.submenu-with-border .astra-full-megamenu-wrapper {
    border-color: #c8102e;
}

.ast-desktop .main-header-menu.submenu-with-border .sub-menu {
    border-top-width: 2px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
}

    .ast-desktop .main-header-menu.submenu-with-border .sub-menu .sub-menu {
        top: -2px;
    }

    .ast-desktop .main-header-menu.submenu-with-border .sub-menu .menu-link, .ast-desktop .main-header-menu.submenu-with-border .children .menu-link {
        border-bottom-width: 0px;
        border-style: solid;
        border-color: #eaeaea;
    }

@media (min-width:922px) {
    .main-header-menu .sub-menu .menu-item.ast-left-align-sub-menu:hover > .sub-menu, .main-header-menu .sub-menu .menu-item.ast-left-align-sub-menu.focus > .sub-menu {
        margin-left: -0px;
    }
}

.ast-small-footer {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #7a7a7a;
}

.ast-header-widget-area {
    line-height: 1.65;
}

    .ast-header-widget-area .widget-title, .ast-header-widget-area .no-widget-text {
        margin-bottom: 0;
    }

    .ast-header-widget-area .widget {
        margin: .5em;
        display: inline-block;
        vertical-align: middle;
    }

        .ast-header-widget-area .widget p {
            margin-bottom: 0;
        }

        .ast-header-widget-area .widget ul {
            position: static;
            border: 0;
            width: auto;
        }

            .ast-header-widget-area .widget ul a {
                border: 0;
            }

        .ast-header-widget-area .widget.widget_search .search-field, .ast-header-widget-area .widget.widget_search .search-field:focus {
            padding: 10px 45px 10px 15px;
        }

        .ast-header-widget-area .widget:last-child {
            margin-bottom: 0.5em;
            margin-right: 0;
        }

.submenu-with-border .ast-header-widget-area .widget ul {
    position: static;
    border: 0;
    width: auto;
}

    .submenu-with-border .ast-header-widget-area .widget ul a {
        border: 0;
    }

.ast-header-break-point .ast-header-widget-area .widget {
    margin: .5em 0;
    display: block;
}

.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .main-header-bar-navigation .ast-search-icon {
    display: none;
}

.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-form {
    padding: 0;
    display: block;
    overflow: hidden;
}

.ast-header-break-point .ast-header-custom-item .widget:last-child {
    margin-bottom: 1em;
}

.ast-header-custom-item .widget {
    margin: 0.5em;
    display: inline-block;
    vertical-align: middle;
}

    .ast-header-custom-item .widget p {
        margin-bottom: 0;
    }

    .ast-header-custom-item .widget li {
        width: auto;
    }

.ast-header-custom-item-inside .button-custom-menu-item .menu-link {
    display: none;
}

.ast-header-custom-item-inside.ast-header-break-point .button-custom-menu-item .ast-custom-button-link {
    display: none;
}

.ast-header-custom-item-inside.ast-header-break-point .button-custom-menu-item .menu-link {
    display: block;
}

.ast-header-break-point.ast-header-custom-item-outside .main-header-bar .ast-search-icon {
    margin-right: 1em;
}

.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-field, .ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon.ast-inline-search .search-field {
    width: 100%;
    padding-right: 5.5em;
}

.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-submit {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding: 0 1em;
    border-radius: 0;
}

.ast-header-break-point .ast-header-custom-item .ast-masthead-custom-menu-items {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.ast-header-custom-item-inside.ast-header-break-point .button-custom-menu-item {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.astra-icon-down_arrow::after {
    content: "\e900";
    font-family: Astra;
}

.astra-icon-close::after {
    content: "\e5cd";
    font-family: Astra;
}

.astra-icon-drag_handle::after {
    content: "\e25d";
    font-family: Astra;
}

.astra-icon-format_align_justify::after {
    content: "\e235";
    font-family: Astra;
}

.astra-icon-menu::after {
    content: "\e5d2";
    font-family: Astra;
}

.astra-icon-reorder::after {
    content: "\e8fe";
    font-family: Astra;
}

.astra-icon-search::after {
    content: "\e8b6";
    font-family: Astra;
}

.astra-icon-zoom_in::after {
    content: "\e56b";
    font-family: Astra;
}

.astra-icon-check-circle::after {
    content: "\e901";
    font-family: Astra;
}

.astra-icon-shopping-cart::after {
    content: "\f07a";
    font-family: Astra;
}

.astra-icon-shopping-bag::after {
    content: "\f290";
    font-family: Astra;
}

.astra-icon-shopping-basket::after {
    content: "\f291";
    font-family: Astra;
}

.astra-icon-circle-o::after {
    content: "\e903";
    font-family: Astra;
}

.astra-icon-certificate::after {
    content: "\e902";
    font-family: Astra;
}

blockquote {
    padding: 1.2em;
}

:root .has-ast-global-color-0-color {
    color: var(--ast-global-color-0);
}

:root .has-ast-global-color-0-background-color {
    background-color: var(--ast-global-color-0);
}

:root .wp-block-button .has-ast-global-color-0-color {
    color: var(--ast-global-color-0);
}

:root .wp-block-button .has-ast-global-color-0-background-color {
    background-color: var(--ast-global-color-0);
}

:root .has-ast-global-color-1-color {
    color: var(--ast-global-color-1);
}

:root .has-ast-global-color-1-background-color {
    background-color: var(--ast-global-color-1);
}

:root .wp-block-button .has-ast-global-color-1-color {
    color: var(--ast-global-color-1);
}

:root .wp-block-button .has-ast-global-color-1-background-color {
    background-color: var(--ast-global-color-1);
}

:root .has-ast-global-color-2-color {
    color: var(--ast-global-color-2);
}

:root .has-ast-global-color-2-background-color {
    background-color: var(--ast-global-color-2);
}

:root .wp-block-button .has-ast-global-color-2-color {
    color: var(--ast-global-color-2);
}

:root .wp-block-button .has-ast-global-color-2-background-color {
    background-color: var(--ast-global-color-2);
}

:root .has-ast-global-color-3-color {
    color: var(--ast-global-color-3);
}

:root .has-ast-global-color-3-background-color {
    background-color: var(--ast-global-color-3);
}

:root .wp-block-button .has-ast-global-color-3-color {
    color: var(--ast-global-color-3);
}

:root .wp-block-button .has-ast-global-color-3-background-color {
    background-color: var(--ast-global-color-3);
}

:root .has-ast-global-color-4-color {
    color: var(--ast-global-color-4);
}

:root .has-ast-global-color-4-background-color {
    background-color: var(--ast-global-color-4);
}

:root .wp-block-button .has-ast-global-color-4-color {
    color: var(--ast-global-color-4);
}

:root .wp-block-button .has-ast-global-color-4-background-color {
    background-color: var(--ast-global-color-4);
}

:root .has-ast-global-color-5-color {
    color: var(--ast-global-color-5);
}

:root .has-ast-global-color-5-background-color {
    background-color: var(--ast-global-color-5);
}

:root .wp-block-button .has-ast-global-color-5-color {
    color: var(--ast-global-color-5);
}

:root .wp-block-button .has-ast-global-color-5-background-color {
    background-color: var(--ast-global-color-5);
}

:root .has-ast-global-color-6-color {
    color: var(--ast-global-color-6);
}

:root .has-ast-global-color-6-background-color {
    background-color: var(--ast-global-color-6);
}

:root .wp-block-button .has-ast-global-color-6-color {
    color: var(--ast-global-color-6);
}

:root .wp-block-button .has-ast-global-color-6-background-color {
    background-color: var(--ast-global-color-6);
}

:root .has-ast-global-color-7-color {
    color: var(--ast-global-color-7);
}

:root .has-ast-global-color-7-background-color {
    background-color: var(--ast-global-color-7);
}

:root .wp-block-button .has-ast-global-color-7-color {
    color: var(--ast-global-color-7);
}

:root .wp-block-button .has-ast-global-color-7-background-color {
    background-color: var(--ast-global-color-7);
}

:root .has-ast-global-color-8-color {
    color: var(--ast-global-color-8);
}

:root .has-ast-global-color-8-background-color {
    background-color: var(--ast-global-color-8);
}

:root .wp-block-button .has-ast-global-color-8-color {
    color: var(--ast-global-color-8);
}

:root .wp-block-button .has-ast-global-color-8-background-color {
    background-color: var(--ast-global-color-8);
}

:root {
    --ast-global-color-0: #0170B9;
    --ast-global-color-1: #3a3a3a;
    --ast-global-color-2: #3a3a3a;
    --ast-global-color-3: #4B4F58;
    --ast-global-color-4: #F5F5F5;
    --ast-global-color-5: #FFFFFF;
    --ast-global-color-6: #F2F5F7;
    --ast-global-color-7: #424242;
    --ast-global-color-8: #000000;
}

.ast-breadcrumbs .trail-browse, .ast-breadcrumbs .trail-items, .ast-breadcrumbs .trail-items li {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: inherit;
    text-indent: 0;
}

.ast-breadcrumbs .trail-browse {
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    color: inherit;
}

.ast-breadcrumbs .trail-items {
    list-style: none;
}

.trail-items li::after {
    padding: 0 0.3em;
    content: "\00bb";
}

.trail-items li:last-of-type::after {
    display: none;
}

h1, .entry-content h1, h2, .entry-content h2, h3, .entry-content h3, h4, .entry-content h4, h5, .entry-content h5, h6, .entry-content h6 {
    color: #0c2340;
}

.elementor-widget-heading .elementor-heading-title {
    margin: 0;
}

.elementor-post.elementor-grid-item.hentry {
    margin-bottom: 0;
}

.woocommerce div.product .elementor-element.elementor-products-grid .related.products ul.products li.product, .elementor-element .elementor-wc-products .woocommerce[class*='columns-'] ul.products li.product {
    width: auto;
    margin: 0;
    float: none;
}

.ast-left-sidebar .elementor-section.elementor-section-stretched, .ast-right-sidebar .elementor-section.elementor-section-stretched {
    max-width: 100%;
    left: 0 !important;
}

.elementor-template-full-width .ast-container {
    display: block;
}

@media (max-width:544px) {
    .elementor-element .elementor-wc-products .woocommerce[class*="columns-"] ul.products li.product {
        width: auto;
        margin: 0;
    }

    .elementor-element .woocommerce .woocommerce-result-count {
        float: none;
    }
}

.ast-header-break-point .main-header-bar {
    border-bottom-width: 1px;
}

@media (min-width:922px) {
    .main-header-bar {
        border-bottom-width: 1px;
    }
}

.ast-safari-browser-less-than-11 .main-header-menu .menu-item, .ast-safari-browser-less-than-11 .main-header-bar .ast-masthead-custom-menu-items {
    display: block;
}

.main-header-menu .menu-item, #astra-footer-menu .menu-item, .main-header-bar .ast-masthead-custom-menu-items {
    -js-display: flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main-header-menu > .menu-item > .menu-link, #astra-footer-menu > .menu-item > .menu-link {
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -js-display: flex;
    display: flex;
}

.ast-primary-menu-disabled .main-header-bar .ast-masthead-custom-menu-items {
    flex: unset;
}

.main-header-menu .sub-menu .menu-item.menu-item-has-children > .menu-link:after {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translate(0,-50%) rotate(270deg);
}

.ast-header-break-point .main-header-bar .main-header-bar-navigation .page_item_has_children > .ast-menu-toggle::before, .ast-header-break-point .main-header-bar .main-header-bar-navigation .menu-item-has-children > .ast-menu-toggle::before, .ast-mobile-popup-drawer .main-header-bar-navigation .menu-item-has-children > .ast-menu-toggle::before, .ast-header-break-point .ast-mobile-header-wrap .main-header-bar-navigation .menu-item-has-children > .ast-menu-toggle::before {
    font-weight: bold;
    content: "\f13a";
    font-family: 'FontAwesome';
    text-decoration: inherit;
    display: inline-block;
}

.ast-header-break-point .main-navigation ul.sub-menu .menu-item .menu-link:before {
    content: "\f13a";
    font-family: 'FontAwesome';
    font-size: .65em;
    text-decoration: inherit;
    display: inline-block;
    transform: translate(0,-2px) rotateZ(270deg);
    margin-right: 5px;
}

.widget_search .search-form:after {
    font-family: Astra;
    font-size: 1.2em;
    font-weight: normal;
    content: "\e8b6";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0,-50%);
}

.astra-search-icon::before {
    content: "\e8b6";
    font-family: Astra;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-header-bar .main-header-bar-navigation .page_item_has_children > a:after, .main-header-bar .main-header-bar-navigation .menu-item-has-children > a:after, .site-header-focus-item .main-header-bar-navigation .menu-item-has-children > .menu-link:after {
    content: "\e900";
    display: inline-block;
    font-family: Astra;
    font-size: .6rem;
    font-weight: bold;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
    line-height: normal;
}

.ast-mobile-popup-drawer .main-header-bar-navigation .ast-submenu-expanded > .ast-menu-toggle::before {
    transform: rotateX(180deg);
}

.ast-header-break-point .main-header-bar-navigation .menu-item-has-children > .menu-link:after {
    display: none;
}

.ast-separate-container .blog-layout-1, .ast-separate-container .blog-layout-2, .ast-separate-container .blog-layout-3 {
    background-color: transparent;
    background-image: none;
}

.ast-separate-container .ast-article-post {
    background-color: var(--ast-global-color-5);
    ;
}

@media (max-width:921px) {
    .ast-separate-container .ast-article-post {
        background-color: var(--ast-global-color-5);
        ;
    }
}

@media (max-width:544px) {
    .ast-separate-container .ast-article-post {
        background-color: var(--ast-global-color-5);
        ;
    }
}

.ast-separate-container .ast-article-single:not(.ast-related-post), .ast-separate-container .comments-area .comment-respond, .ast-separate-container .comments-area .ast-comment-list li, .ast-separate-container .ast-woocommerce-container, .ast-separate-container .error-404, .ast-separate-container .no-results, .single.ast-separate-container .ast-author-meta, .ast-separate-container .related-posts-title-wrapper, .ast-separate-container.ast-two-container #secondary .widget, .ast-separate-container .comments-count-wrapper, .ast-box-layout.ast-plain-container .site-content, .ast-padded-layout.ast-plain-container .site-content, .ast-separate-container .comments-area .comments-title {
    background-color: var(--ast-global-color-5);
    ;
}

@media (max-width:921px) {
    .ast-separate-container .ast-article-single:not(.ast-related-post), .ast-separate-container .comments-area .comment-respond, .ast-separate-container .comments-area .ast-comment-list li, .ast-separate-container .ast-woocommerce-container, .ast-separate-container .error-404, .ast-separate-container .no-results, .single.ast-separate-container .ast-author-meta, .ast-separate-container .related-posts-title-wrapper, .ast-separate-container.ast-two-container #secondary .widget, .ast-separate-container .comments-count-wrapper, .ast-box-layout.ast-plain-container .site-content, .ast-padded-layout.ast-plain-container .site-content, .ast-separate-container .comments-area .comments-title {
        background-color: var(--ast-global-color-5);
        ;
    }
}

@media (max-width:544px) {
    .ast-separate-container .ast-article-single:not(.ast-related-post), .ast-separate-container .comments-area .comment-respond, .ast-separate-container .comments-area .ast-comment-list li, .ast-separate-container .ast-woocommerce-container, .ast-separate-container .error-404, .ast-separate-container .no-results, .single.ast-separate-container .ast-author-meta, .ast-separate-container .related-posts-title-wrapper, .ast-separate-container.ast-two-container #secondary .widget, .ast-separate-container .comments-count-wrapper, .ast-box-layout.ast-plain-container .site-content, .ast-padded-layout.ast-plain-container .site-content, .ast-separate-container .comments-area .comments-title {
        background-color: var(--ast-global-color-5);
        ;
    }
}

:root {
    --e-global-color-astglobalcolor0: #0170B9;
    --e-global-color-astglobalcolor1: #3a3a3a;
    --e-global-color-astglobalcolor2: #3a3a3a;
    --e-global-color-astglobalcolor3: #4B4F58;
    --e-global-color-astglobalcolor4: #F5F5F5;
    --e-global-color-astglobalcolor5: #FFFFFF;
    --e-global-color-astglobalcolor6: #F2F5F7;
    --e-global-color-astglobalcolor7: #424242;
    --e-global-color-astglobalcolor8: #000000;
}

.ast-desktop .astra-menu-animation-slide-up > .menu-item > .astra-full-megamenu-wrapper, .ast-desktop .astra-menu-animation-slide-up > .menu-item > .sub-menu, .ast-desktop .astra-menu-animation-slide-up > .menu-item > .sub-menu .sub-menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(.5em);
    transition: visibility .2s ease,transform .2s ease
}

.ast-desktop .astra-menu-animation-slide-up > .menu-item .menu-item.focus > .sub-menu, .ast-desktop .astra-menu-animation-slide-up > .menu-item .menu-item:hover > .sub-menu, .ast-desktop .astra-menu-animation-slide-up > .menu-item.focus > .astra-full-megamenu-wrapper, .ast-desktop .astra-menu-animation-slide-up > .menu-item.focus > .sub-menu, .ast-desktop .astra-menu-animation-slide-up > .menu-item:hover > .astra-full-megamenu-wrapper, .ast-desktop .astra-menu-animation-slide-up > .menu-item:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity .2s ease,visibility .2s ease,transform .2s ease
}

.ast-desktop .astra-menu-animation-slide-up > .full-width-mega.menu-item.focus > .astra-full-megamenu-wrapper, .ast-desktop .astra-menu-animation-slide-up > .full-width-mega.menu-item:hover > .astra-full-megamenu-wrapper {
    -js-display: flex;
    display: flex
}

.ast-desktop .astra-menu-animation-slide-down > .menu-item > .astra-full-megamenu-wrapper, .ast-desktop .astra-menu-animation-slide-down > .menu-item > .sub-menu, .ast-desktop .astra-menu-animation-slide-down > .menu-item > .sub-menu .sub-menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-.5em);
    transition: visibility .2s ease,transform .2s ease
}

.ast-desktop .astra-menu-animation-slide-down > .menu-item .menu-item.focus > .sub-menu, .ast-desktop .astra-menu-animation-slide-down > .menu-item .menu-item:hover > .sub-menu, .ast-desktop .astra-menu-animation-slide-down > .menu-item.focus > .astra-full-megamenu-wrapper, .ast-desktop .astra-menu-animation-slide-down > .menu-item.focus > .sub-menu, .ast-desktop .astra-menu-animation-slide-down > .menu-item:hover > .astra-full-megamenu-wrapper, .ast-desktop .astra-menu-animation-slide-down > .menu-item:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity .2s ease,visibility .2s ease,transform .2s ease
}

.ast-desktop .astra-menu-animation-slide-down > .full-width-mega.menu-item.focus > .astra-full-megamenu-wrapper, .ast-desktop .astra-menu-animation-slide-down > .full-width-mega.menu-item:hover > .astra-full-megamenu-wrapper {
    -js-display: flex;
    display: flex
}

.ast-desktop .astra-menu-animation-fade > .menu-item > .astra-full-megamenu-wrapper, .ast-desktop .astra-menu-animation-fade > .menu-item > .sub-menu, .ast-desktop .astra-menu-animation-fade > .menu-item > .sub-menu .sub-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity ease-in-out .3s
}

.ast-desktop .astra-menu-animation-fade > .menu-item .menu-item.focus > .sub-menu, .ast-desktop .astra-menu-animation-fade > .menu-item .menu-item:hover > .sub-menu, .ast-desktop .astra-menu-animation-fade > .menu-item.focus > .astra-full-megamenu-wrapper, .ast-desktop .astra-menu-animation-fade > .menu-item.focus > .sub-menu, .ast-desktop .astra-menu-animation-fade > .menu-item:hover > .astra-full-megamenu-wrapper, .ast-desktop .astra-menu-animation-fade > .menu-item:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    transition: opacity ease-in-out .3s
}

.ast-desktop .astra-menu-animation-fade > .full-width-mega.menu-item.focus > .astra-full-megamenu-wrapper, .ast-desktop .astra-menu-animation-fade > .full-width-mega.menu-item:hover > .astra-full-megamenu-wrapper {
    -js-display: flex;
    display: flex
}

input#accept_terms {
    height: 11px;
}

.academy-loop .elementor-column-gap-default {
    padding-left: 0px !important;
}

.academy-loop .academy-image .elementor-element-populated {
    padding: 0px;
}

.contact-box {
    z-index: 1;
}

.form-slide .elementor-swiper-button-prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='62' height='106' viewBox='0 0 62 106'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_5469' data-name='Rectangle 5469' width='62' height='106' transform='translate(0 0.5)' fill='rgba(255,255,255,0.9)'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_16253' data-name='Group 16253' transform='translate(62.003 106.294) rotate(180)'%3E%3Cg id='Group_16251' data-name='Group 16251' transform='translate(0.003 -0.206)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_11022' data-name='Path 11022' d='M8.61,106.71c-4.634,0-6.828-2.229-7.559-3.187a4.479,4.479,0,0,1,.424-6.194L27.21,70.157c9.667-10.205,9.667-23.4,0-33.6L1.475,9.383a4.482,4.482,0,0,1-.424-6.2C1.781,2.229,3.976,0,8.61,0a9.9,9.9,0,0,1,7.132,2.687L60.56,50.008a4.608,4.608,0,0,1,0,6.7L15.745,104.025A9.923,9.923,0,0,1,8.61,106.71' transform='translate(-0.003 0.145)' fill='rgba(255,255,255,0.9)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    font-size: 0px;
    width: 64px;
    height: 107px;
}

.form-slide .elementor-swiper-button-next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='62' height='106' viewBox='0 0 62 106'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_5469' data-name='Rectangle 5469' width='62' height='106' transform='translate(0 0.5)' fill='rgba(255,255,255,0.9)'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_16254' data-name='Group 16254' transform='translate(-0.003 -0.294)'%3E%3Cg id='Group_16251' data-name='Group 16251' transform='translate(0.003 -0.206)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_11022' data-name='Path 11022' d='M8.61,106.71c-4.634,0-6.828-2.229-7.559-3.187a4.479,4.479,0,0,1,.424-6.194L27.21,70.157c9.667-10.205,9.667-23.4,0-33.6L1.475,9.383a4.482,4.482,0,0,1-.424-6.2C1.781,2.229,3.976,0,8.61,0a9.9,9.9,0,0,1,7.132,2.687L60.56,50.008a4.608,4.608,0,0,1,0,6.7L15.745,104.025A9.923,9.923,0,0,1,8.61,106.71' transform='translate(-0.003 0.145)' fill='rgba(255,255,255,0.9)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    font-size: 0px;
    width: 64px;
    height: 107px;
}

@media (min-width:961px) {

    .translatepress-en_US #pub_carousal .uael-post__columns-4 .uael-post-wrapper {
        width: 25% !important;
    }

    .translatepress-en_US #pub_carousal .slick-track {
        width: 100% !important;
    }

    .translatepress-en_US #pub_carousal .uael-post-grid__inner.uael-post__columns-4 {
        display: block;
    }


    body.rtl #pub_carousal .uael-post__columns-4 .uael-post-wrapper {
        width: 25% !important;
    }

    body.rtl #pub_carousal .slick-track {
        display: flex;
        width: 100% !important;
    }

    body.rtl #pub_carousal .uael-post-grid__inner.uael-post__columns-4 {
        display: block;
    }
}



.main-title h1 {
/*    color: #fff !important;*/ 
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.main-title-inner.main-title h1 {
    color: #0C2340 !important;
}

.inside-column {
    float: left;
    width: 50%;
    padding: 10px;
}

    .inside-column h3 {
        text-align: left;
        font-size: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700 !important;
    }

.workflow-tabs .elementor-tab-title {
    display: inline-block;
    list-style: none;
    margin-right: -15px;
    position: initial;
    padding: 0 !important;
}

.workflow-tabs .elementor-tabs-content-wrapper .elementor-tab-title {
    display: none;
}

.workflow-tabs .elementor-tab-title.elementor-active div {
    background: #0C2340;
}

.workflow-tabs .elementor-tabs .elementor-tabs-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.workflow-tabs .elementor-tab-title div {
    display: inline-block;
    background-color: #C8C8C8;
    margin: 2px;
    padding: 20px 30px 20px 30px;
    margin-right: 22px;
    margin-left: 22px;
    color: #fff;
    position: relative;
    line-height: 30px;
}


    .workflow-tabs .elementor-tab-title div::before {
        display: block;
        position: absolute;
        top: 0;
        right: 100%;
        content: '';
        background-color: #C8C8C8;
        border: 35px solid transparent;
        border-left-width: 20px;
        border-right-width: 0px;
        border-left-color: #f2f2f2;
    }

    .workflow-tabs .elementor-tab-title div::after {
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        content: '';
        border: 35px solid transparent;
        border-left-width: 20px;
        border-right-width: 0px;
        z-index: 10;
        border-left-color: #C8C8C8;
    }

.workflow-tabs .elementor-tab-title.elementor-active div::before {
    background-color: #0c2340;
}

.workflow-tabs .elementor-tab-title.elementor-active div::after {
    border-left-color: #0c2340;
}

.workflow-tabs .elementor-tab-content .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .main-title h1 {
        font-size: 25px !important;
        line-height: 1.2 !important;
    }

    .workflow-tabs .elementor-tab-title div {
        padding: 10px 15px 10px 15px;
        font-size: 13px;
    }

        .workflow-tabs .elementor-tab-title div::before {
            border: 20px solid transparent;
            border-left-width: 20px;
            border-right-width: 0px;
            border-left-color: #f2f2f2;
        }

        .workflow-tabs .elementor-tab-title div::after {
            border: 20px solid transparent;
            border-left-width: 20px;
            border-right-width: 0px;
            border-left-color: #C8C8C8;
        }

    .workflow-tabs .elementor-tab-title div {
        line-height: 20px;
    }

    .inside-column h3 {
        font-size: 32px;
    }

    .inside-column {
        width: 100%;
    }

    .workflow-tabs .elementor-tabs .elementor-tabs-wrapper {
        display: block;
    }

    .workflow-tabs.elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tab-desktop-title {
        display: inline-block;
    }

    .workflow-tabs .elementor-tab-content .row {
        display: inherit;
    }

    .click-box-sec .elementor-widget-call-to-action .elementor-cta__content h3.elementor-cta__title.elementor-cta__content-item.elementor-content-item {
        font-size: 16px !important;
        line-height: 22px !important;
    }

    .click-box-sec .elementor-cta--skin-cover .elementor-cta__content {
        min-height: 130px;
        padding: 4px !important;
    }

    .click-box-sec .elementor-widget-wrap.elementor-element-populated {
        padding: 5px !important;
    }

    .elementor-element-e7505f4 img.attachment-full.size-full {
        margin-left: 22px;
    }
}


@font-face {
    font-family: eicons;
    src: url(https://landsterling.com/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.eot?5.10.0);
    src: url(https://landsterling.com/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.eot?5.10.0#iefix) format("embedded-opentype"),url(https://landsterling.com/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.woff2?5.10.0) format("woff2"),url(https://landsterling.com/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.woff?5.10.0) format("woff"),url(https://landsterling.com/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.ttf?5.10.0) format("truetype"),url(https://landsterling.com/wp-content/plugins/elementor/assets/lib/eicons/fonts/eicons.svg?5.10.0#eicon) format("svg");
    font-weight: 400;
    font-style: normal
}

